*    {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face{
    font-family: "etna-sans-serif";
    src:url("../etna-sans-serif/etna-free-font.otf")
}
p{
   font-family:"etna-sans-serif";
}

/*
.grid-layout{
   display: grid;
   grid-template-columns: repeat(4, auto);
   grid-template-rows: repeat(3, auto);
   justify-content: center;
   align-items: center;
   margin: 0% auto;
   width: 80%;
   height: 100%;
}*/

.I1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.I2{
    grid-column: 3/5;
    grid-row: 1/2;
}
.I3{
    grid-column: 2/4; 
    grid-row: 2/3;
}
.I4{
    grid-column: 1/2;
    grid-row: 2/3;
}
.I5{
    grid-column: -5/-3;
    grid-row: 3/4;
}
.I6{
    grid-column: -3/-1;
    grid-row: -2/-1;
}
.I7{
    grid-column: -1/-2;
    grid-row: -2/-3;
}
.I8{
    grid-column: -5/-1;
}
/*
.img{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    row-gap: 3%;
    transition: 0.5s;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    padding: 2px;
    transition: all 1s;
}
.img:hover{
    transform: scale(1.1);
}
*/




.box__fixed{
    position: fixed;
    bottom: 15px;
    right: 10px;

    color:rgba(20, 20, 20, 0.712);
    background-color: rgba(5, 107, 107, 0.705);
    border-radius: 8px;


}
/*media, adaptacion cualquier tipo de pantalla*/
@media screen and (max-width: 501px) {
   .grid-layout{
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
   }
    
    .I1{
        grid-column: 1/1;
        grid-row: auto;
    }
    .I2{
        grid-column: 1/1;
        grid-row: auto;
    }
    .I3{
        grid-column: 1/1;
        grid-row: auto;
    }
    .I4{
        grid-column: 1/1;
        grid-row: auto;
    }
    .I5{
        grid-column: 1/1;
        grid-row: auto;
    }
    .I6{
        grid-column: 1/1;
        grid-row: auto;
    }
    .I7{
        grid-column: 1/1;
        grid-row: auto;
    }
    .I8{
        grid-column: 1/1;
        grid-row: auto;
    }
    }



/*pagina de contacto*/

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.consultas{
    padding: 20px;
    color: #373737;
    margin: 20px;
    
}
.layout{
    width: 100%;
    height: 100%;
    
}

/*pagina de embarazo*/

.T8{
    grid-column: -3/-2;
    grid-row: -3/-2;
}
.T9{
    grid-column: -2/-1;
    grid-row: -3/-2;
}
.T10{
    grid-column: -5/-3;
    grid-row: 3/5;
}
.T11{
    grid-column: -3/-1;
    grid-row: -2/-1;
}


/*media, adaptacion cualquier tipo de pantalla*/

@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .T1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .T2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .T9{
        grid-column: 1/1;
        grid-row: auto;
     }
     .T10{
        grid-column: 1/1;
        grid-row: auto;
     }
     .T11{
        grid-column: 1/1;
        grid-row: auto;
     }
     .T12{
        grid-column: 1/1;
        grid-row: auto;
     }
     }



/*pagina de familias*/

.m1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.m2{
    grid-column: 3/5;
    grid-row: 1/2;
}
.m5{
    grid-column: 3/5;
    grid-row: -3/-1;
}
.m9{
    grid-column: 1/3;
    grid-row: 2/4;
}
/*media, adaptacion cualquier tipo de pantalla*/

@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .m1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .m2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .m9{
        grid-column: 1/1;
        grid-row: auto;
     }
     .m10{
        grid-column: 1/1;
        grid-row: auto;
     }
     .m11{
        grid-column: 1/1;
        grid-row: auto;
     }
     .m12{
        grid-column: 1/1;
        grid-row: auto;
     }
     }


/*pagina de newbor*/

.c1{
    grid-column: 1/3;
    grid-row: 2/3;
}
.c7{
    grid-column: -5/-3;
    grid-row: 3/4;
}
.c8{
    grid-column: 3/5;
    grid-row: -3/-2;
}
.c9{
    grid-column: -3/-1;
    grid-row: -2/-1;
}
.c10{
    grid-column: -5/-3;
    grid-row: 4/5;
}
.c11{
    grid-column: -3/-1;
    grid-row: -1/-1 ;
}

/*media, adaptacion cualquier tipo de pantalla*/

@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .c1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .c2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .c9{
        grid-column: 1/1;
        grid-row: auto;
     }
     .c10{
        grid-column: 1/1;
        grid-row: auto;
     }
     .c11{
        grid-column: 1/1;
        grid-row: auto;
     }
     
     }



/*pagina infantiles*/
.P6{
    grid-column:3/4 ;
    grid-row: 1/2;
}
.P7{
    grid-column: -1/-3;
    grid-row: -1/-1;
}
.P8{
    grid-column: 4/5;
    grid-row: 1/2;
}
.P11{
    grid-column: -3/-5;
    grid-row: 4/5;
}

/*media, adaptacion cualquier tipo de pantalla*/

@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .P1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .P2{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P7{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .P9{
        grid-column: 1/1;
        grid-row: auto;
     }
     .P11{
        grid-column: 1/1;
        grid-row: auto;
     }
     
     }


/*pagina de smashcake*/
.R1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.R3{
    grid-column: 3/5;
    grid-row: 1/2;
}
.R8{
    grid-column: -3/-1;
    grid-row: -1/-1;
}
.R11{
    grid-column: -3/-5;
    grid-row: 4/5;
}

/*media, adaptacion cualquier tipo de pantalla*/

@media screen and (max-width: 501px) {
    .grid-layout{
     grid-template-columns: repeat(1, auto);
     grid-template-rows: auto;
    }
     
     .R1{
         grid-column: 1/1;
         grid-row:auto;
     }
     .R3{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R4{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R5{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R6{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R8{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R9{
         grid-column: 1/1;
         grid-row: auto;
     }
     .R11{
         grid-column: 1/1;
         grid-row: auto;
     }
    }



/*pagina reservasiones*/
.row__3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.img1{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.pReservarsesion{
    text-align: center;
    color: #373737;
}
.link__r{
    color: #373737;
}
.cuadro{
    border: 1px solid black;
    border-radius: 1rem;
    
}

@media screen and (max-width: 501px) {
    .row__3{
        padding: 1rem;
        row-gap: 1rem;
        flex-direction: column;
    }
    
}

/*reservars sesion extra*/
.centrar__1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}
.lista{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    width: 40%;
    text-align: center;
}
.day-name{
    background: #8d8b8b79;
    font-family: "etna-sans-serif";
    width: 100%;
    padding: 0.2rem;
}

/*botones de horarios*/

.row__5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.tamaño__1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    width: 50%;
    
}


.encabezado__form{
   text-align: center;
   font-family: "etna-sans-serif";
   padding: 1rem;
}

.colum{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    
    
}
.color__b{
    font-family: "etna-sans-serif";
    color: #7e828a;
}
.btn{
    border: 1px solid black;
    
}




@media screen and (max-width: 768px) {
    .centrar__1{
        flex-direction: column;
        width: 100%;   
    }
    .lista{
        width: 90%;
    }
    .colum{
        width: 100%;
    }
    .tamaño__1{
        width: 100%;
    }
}

/*pagina de sesiones*/

.container{
    padding: 1rem;
    
}
.row__7{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.imagen1{
    width: 100%;
    border-radius: 1rem;
}
@media screen and (max-width: 501px) {
    .row__7{
        flex-direction: column;
    }
    p{
        color: #5c5459;
        font-size:medium;
        border-radius: 0.5em;
    }
}






/*pagina sobre mi*/

.foto__propia{
    width: 100%;
    height: 100%;
    
}

.mi__foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: auto;
    border-radius: 1rem;
}

.descripcion{

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}

.descripcion{
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.texto{
    flex-direction: row;
    font-family: "etna-sans-serif";
    font-size: 1.2rem;
    color: #4b4949b7
}

@media screen and (max-width: 500px) {
    .texto{
        flex-direction: column;
    }
    .mi__foto{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .texto{
        flex-direction: column;
    }
    .mi__foto{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}
