*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import 'vars';
@import'mixins';
@import'mediaquery';
@import'fonts';
@import 'maps';


.logo{
    @include flexible(flex, center,center, nowrap);
    width: 100%;
    height: auto;

    &__png{
        width: 20%;
    }
}
.body{
    background-color: $color-primario;
}
.conteiner{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}
 
header{
    text-align: center;
    background-color: $color-primario;
    height: 100px;
    width: 25;

    .header__2{
        @include flexible(flex, center,center, nowrap)
    }

    .row{
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .parrafo{
        text-decoration: none;
        list-style: none;
        font-family: "etna-sans-serif";
        color: #373737;
    }
}

section{
    .grid-layout{
       @include grid (grid, columns, row, center, center);
        margin: 0% auto;
        width: 80%;
        height: 100%;
    }
    .img{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        row-gap: 3%;
        transition: 0.5s;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1rem;
        cursor: pointer;
        padding: 2px;
        transition: all 1s;
    }
    
    .img:hover{
        transform: scale(1.1);
    }
}

.formulario{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "etna-sans-serif";
    flex-direction: column;
    width: 40%;
    flex-wrap: nowrap;
    background-image: linear-gradient(to top, #5c5459, #625c62, #68646b, #6f6d73, #75757c, #797c83, #7e828a, #828990, #859097, #89989c, #8e9fa1, #93a6a5);
    border: 0.5px solid;
    text-align: center;
    color: #3737379a;
    border-radius: 7px;
    padding: 0.2rem;
    .bordes{
        border-radius: 1.5rem;
        margin: 15px;
        font-size: 1rem;
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 0.5rem;
        background-color: white;
    }
    .bordes__2{
        border-radius: 1.5rem;
        margin: 15px;
        font-size: 1rem;
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 0.5rem;
        background-color: white;
    }
    .bordes__3{
        border-radius: 1.5rem;
        margin: 15px;
        font-size: 1rem;
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 0.5rem;
        background-color: white;
    }
    .bordes__4{
        border-radius: 1.5rem;
        margin: 15px;
        font-size: 20px;
        text-align: center;
        font-family: "etna-sans-serif";
        padding: 1.5rem;  
        background-color: white;
    }
    .enviar{
        border-radius: 1rem;
        margin: 15px;
        font-size: 20px;
        text-align: center;
        font-family: "etna-sans-serif";
        color: #5252528e;
        padding: 7px;
    }
    .restablecer{
        border-radius: 1rem;
        margin: 15px;
        font-size: 20px;
        text-align: center;
        font-family: "etna-sans-serif";
        color: #5252528e;
        padding: 7px;
    }
    .div__formulario{
        width: 100%;
        height: auto;
    }  
    @media screen and (max-width: 501px) {
        .formulario{
             width: 90%;
        }   
    }

}
.row__2{
    @include flexible(flex, center, center, nowrap)
}

footer{
    @include flexible(flex, center,center, nowrap);
    text-align: center;
    background-color: $color-secundario(#fffefe2d);
    position:sticky;
    bottom: 0%;
    height: 6rem;
    
    .instagram{
        display: block;
        position: relative;
        right: 1%;
        font-size: 2rem;
        .insta{
            color: map-get($redes, instagram) ;
            animation: alternate;
            animation-name: insta;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        @keyframes insta{
            0%{
                color: map-get($redes, instagram ) ;
                transform: scale(1);
                transform: translate3d(1);
            }
          
            50%{
                color: map-get($redes, instagram__2);
                transform: scale(1.2);
                transform: translate3d(1.3);
                font-size: large;
            }
            100%{
                color: map-get($redes, instagra__3 ) ;
                transform: scale(1.5);
                transform: translate3d(1.5);
                font-size: large;
            }
            
        }
           
    }
 }
 .facebook{
    display: block;
    position: relative;
    left: 1%;
    font-size: 1.5rem;

    .face{
        color: map-get($redes, facebook );
        animation: alternate;
        animation-name: face;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes face{
        0%{
            color: map-get($redes, facebook ) ;
            transform: scale(1);
            transform: translate3d(1);
        }
      
        50%{
            color: map-get($redes, facebook__2 );
            transform: scale(1.2);
            transform: translate3d(1.5);
            font-size: large;
        }
        100%{
            color: map-get($redes, facebook__3);
            transform: scale(1.5);
            transform: translate3d(1.5);
            font-size: large;
        }
    }
}


.whatsapp{
    display: block;
    position: relative;
    left: 42%;
    bottom: 1.5rem;
    font-size: 3rem;

   .what{
        color: map-get($redes, whatsapp);
        animation: alternate;
        animation-name: what;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @keyframes what{
        0%{
            color :map-get($redes, whatsapp);
            transform: scale(1);
            transform: translate3d(1);
        }
      
        50%{
            color:map-get($redes, whatsapp__2);
            transform: scale(1.2);
            transform: translate3d(1.3);
            font-size: large;
        }
        100%{
            color: map-get($redes, whatsapp__3);
            transform: scale(1.5);
            transform: translate3d(1.5);
            font-size: large;
        }
        
    }
}



